.grammar {
  /* background: url("math.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.grammar-sidebar {
  top: 45px;
  bottom: 0;
  position: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  height: 100%;
}

.grammar-main {
  margin: 2rem;
  border: 1px solid red;
}
